html {
    height: 100%;
}
body {
    overflow: scroll;
}
h1, h2, h3, h4, h5 {
    font-family: 'Press Start 2P', cursive;
    text-align: left;
    color: rgb(255, 255, 0);
}
p {
    text-align: left;
    color:white;
    font-size: .5em;
    font-family: 'Press Start 2P', cursive;
}

.abody:link {
    
    font-family: 'Press Start 2P', cursive;
    color: rgb(255, 255, 0);
  }
  
  
  .abody:visited {
    
    font-family: 'Press Start 2P', cursive;
    color:  rgb(255, 255, 0);
  }
  
  
  .abody:hover {
    font-family: 'Press Start 2P', cursive;
    color: rgb(255, 0, 0);
  }
  
 
  .abody:active {
    
    font-family: 'Press Start 2P', cursive;
    color: rgb(0, 255, 0);
  }

.txt {

    font-family: 'Press Start 2P', cursive;
}
.txt-white {
    color:white;
}

.txt-white-butt {
    color:white;
    font-size: .5em;
    font-family: 'Press Start 2P', cursive;
    /* padding-bottom: 20px; */

}
.txt-brand {
    color: rgb(255, 255, 0);
}
.txt-brand:hover {
    color: rgb(255, 0, 0);
}
.txt-edu {
    font-family: 'Lato', sans-serif;
    color: black;
    text-align: center;
}
.txt-portfolio {
    margin-top: 1em;
}
.li-edu {
    font-family: 'Lato', sans-serif;
    color: black;
    font-size: .5em;
    list-style: none;
    text-align: left;
}

.header {
    background-color: black;
    height: 20vh;
    display: block;
    z-index: 20;
    /* margin-bottom: 10vh; */
}
.header-row {
    height: 5vh;
    background: black;

}
.nav {
    background-color: blue;
    color: white;
    border-style: inset;
    border-color: lightgrey;
    border-width: 10px;
    z-index: 10;
    
}
.nav-butt {
    background-color: grey;
    border-style: outset;
    border-color: grey;
    border-width: 10px;
}
.active {
    font-weight: bolder;
    color:  rgb(255, 255, 0);
}
.nav-page:hover {
    color: rgb(255, 0, 0);
}
.inactive {
    color: white;
}
.bg-blue {
    background-color: blue;
}

.con-con {
    background-color:rgba(110, 110, 110, 0.925);
    padding: .25em .5em .5em .5em;
    margin-bottom: 5em;
    min-height: 80vh;
}
.full-window-height {
    height: 100%; /* Support: http://caniuse.com/#search=vh */
  }
  .video-bg {
    position: relative; /* contain the abs-pos <video> */
    width: 100%;
    overflow: hidden; /* prevent scrollbars */
    /* these below don't matter: */
    /*padding: 10% 0; */
    text-align: center;
    font: bold 40px/1.2 sans-serif;
    padding-top: 1em;
  }
  .video-bg video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* keep centered in parent */
    z-index: -30; /* keep video behind other content */
    min-width: 100%; /* always cover horizontal */
    min-height: 100%; /* always cover vertical */
  }

  .bg-edu {
      background-color: white;
  }
.main-tain {
    background-color: rgba(0, 0, 255, 0.692);
    border-style: inset;
    border-width: 10px;
    border-color: lightgrey;
    min-height: 70vh;
    z-index: 2;
    margin-top: 1vh;
}

.main-display {
    display: block;
}
.main-hidden {
    display: none;
}
.main-row {
    padding: 1em 0 1em 0;
}
.main-txt-card {
    margin-top: 1em;
    font-size: .4em
}
.main-txt-card-list {
    font-size: .4em;
    text-align: left;
}
.img-shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.img-preview {
max-height: 240px;
max-width: 240px;
margin: 10px;
}
.img-portfolio {
    height: 200px;
    width: 200px;
    margin: 10px;
    }
.img-full {
    padding: 1px;
}

.img-res {
   float: left;
}

.secret-sound {
    color: rgb(255, 255, 0);
}
.secret-sound:hover {
    color: rgb(255, 0, 0)
    
}

.gallery {
    display: none;
    z-index:2;
}

.gallery-display {
    display: none;
}
.gallery-slot:hover {
    background-color: rgb(255, 0, 0);
}
.close-gallery {
    padding: 10% 0 10% 0;
    text-align: center;
}

#photography-card:hover {
background-color: rgb(255, 0, 0);
}

