h1, h2, h3, h4, h5 {
    font-family: 'Press Start 2P', cursive;
    text-align: left;
    color: rgb(255, 255, 0);
}
p {
    text-align: left;
    color:white;
    font-size: .5em;
    font-family: 'Press Start 2P', cursive;
}
.txt {

    font-family: 'Press Start 2P', cursive;
}
.txt-white {
    color:white;
}
.txt-brand {
    color: rgb(255, 255, 0);
}
.header {
    background-color: black;
    height: 20vh;
    /* margin-bottom: 10vh; */
}
.header-row {
    height: 5vh;
    background: black;

}
.nav {
    background-color: blue;
    color: white;
    border-style: inset;
    border-color: lightgrey;
    border-width: 10px;
    
}
.active {
    font-weight: bolder;
    color:  rgb(255, 255, 0);
}

.inactive {
    color: white;
}
.bg-blue {
    background-color: blue;
}

.con-con {
    background-color:rgba(110, 110, 110, 0.925);
    padding: .25em .5em .5em .5em;
}
.full-window-height {
    height: 100vh; /* Support: http://caniuse.com/#search=vh */
  }
  .video-bg {
    position: relative; /* contain the abs-pos <video> */
    width: 100%;
    overflow: hidden; /* prevent scrollbars */
    /* these below don't matter: */
    /*padding: 10% 0; */
    text-align: center;
    font: bold 40px/1.2 sans-serif;
  }
  .video-bg video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* keep centered in parent */
    z-index: -30; /* keep video behind other content */
    min-width: 100%; /* always cover horizontal */
    min-height: 100%; /* always cover vertical */
  }

.main-tain {
    background-color: rgba(0, 0, 255, 0.692);
    border-style: inset;
    border-width: 10px;
    border-color: lightgrey;
    min-height: 70vh;
    z-index: 2;
    margin-top: 2.5vh;
}

.main-display {
    display: block;
}
.main-hidden {
    display: none;
}
.main-row {
    padding-top: 1em;
}

.img-head {
    margin: 0 .1em .5em .5em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

